# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

foundry.toml.local
node_modules/
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
*.log
test/output/